/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.login-form {
  background-color: black;
  color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  max-width: 400px;
  width: 100%;
}

.login-form h2 {
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 18px 0;
}

label {
  margin-right: 10px;
  flex: 1;
}

input[type='email'],
input[type='password'] {
  background-color: white;
  color: black;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  flex: 2;
}

button {
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
}

button.signin-button {
  background-color: green;
  color: white;
  margin-right: 10px;
  width: 100%;
}

.forgot-password {
  flex: 1;
  text-align: right;
}

.forgot-password a {
  color: white;
  text-decoration: underline;
}

.forgot-password a:hover {
  color: #ccc;
}

.signup-quote-container {
  text-align: center;
  margin-top: 18px;
}

.signup-link {
  color: blue;
  text-decoration: underline;
}
